.options_button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1), 0px 0px 50px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.options_button h3 {
  padding: 10px
}