.app_hero {
  width: 100vw;
  height: 50vh;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.hero_logo {
 z-index: 3;
 position: relative;
 top: 5%;
 left: 5%;
 font-size: 28px;
 max-width: 50%;
 max-height: 14vh;
 display: flex;
 align-items: center;
}
.logo_header {
  color: white;
  font-style: italic;
}

.hero_image_filter {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(101, 39, 172, 0.6);
}

.logo_header span {
  color: red;
}

.hero_info {
  z-index: 4;
  font-size: 40px;
  color: white;
  position: relative;
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 10%;
  padding: 0px 5%;
}

.info_container {
}